* {
    box-sizing: border-box;
}

body {
    background-color: #f1f1f1;
    color: #bdbdbd;

}

body div {
    text-align: center;
}

#input, #textarea {
    width: 50%;
    padding: 10px;
}

#input {
    float: left;
}

#textarea {
    float: right;
}

input {
    margin: 0 0 10px 0;
}

input, textarea, button {
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    resize: none;
    border: none;
    font-weight: bold;
}

textarea {
    height: 130px;
}

#button {
    clear: both;
    width: 100%;
    padding: 0 10px;
}

button {
    color: white;
    background-color: red;
    cursor: pointer;
}

button:hover {
    background-color: black;
}